<div class="modal modal-custom fade" id="createCertModal" tabindex="-1" role="dialog" aria-labelledby="Create Certificate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{frases.CERTIFICATES.CREATE_CERTIFICATE}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">                    
                    <div class="col-xs-12">
                        <form role="form" id="newCertForm">
                            <div class="form-group">
                                <label for="CN">{{frases.CERTIFICATES.HOST_NAME}}</label>
                                <input type="text" name="CN" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="OU">{{frases.CERTIFICATES.ORG_UNITS}}</label>
                                <input type="text" name="OU" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="O">{{frases.CERTIFICATES.ORGANIZATION}}</label>
                                <input type="text" name="O" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="L">{{frases.CERTIFICATES.CITY_OF_LOCATION}}</label>
                                <input type="text" name="L" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="ST">{{frases.CERTIFICATES.REGION}}</label>
                                <input type="text" name="ST" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="C">{{frases.CERTIFICATES.COUNTRY_CODE}}</label>
                                    <input type="text" name="C" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="V">{{frases.CERTIFICATES.VALIDITY}}</label>
                                    <input type="number" name="V" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="createCert" class="btn btn-success">{{frases.CREATE}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{frases.CANCEL}}</button>
            </div>
        </div>
    </div>
</div>