<div class="acc-cont" id="externalServices">
{{#services}}
    <h5 class="text-mute acc-header">{{name}}<span class="caret pull-right"></span></h5>
    <div class="acc-pane">
        <form name="{{id}}">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="state" {{#state}}checked{{/state}} /> {{frases.ENABLE}}
                </label>
            </div>
            <div class="form-group hidden">
                <label for="id">Service Id</label>
                <input type="text" name="id" value="{{id}}" class="form-control">
            </div>
            <div class="form-group hidden">
                <label for="id">Service Name</label>
                <input type="text" name="name" value="{{name}}" class="form-control" disabled>
            </div>
            <div class="form-group hidden">
                <label for="type">Service Type</label>
                <input type="text" name="type" value="{{type}}" class="form-control" disabled>
            </div>
            {{#props}}
                <div class="form-group">
                    <label for="prop_{{key}}">{{name}}</label>
                    <input type="text" class="form-control" name="prop_{{key}}" value="{{value}}">
                </div>
            {{/props}}
        </form>
    </div>
{{/services}}
</div>