<div class="modal modal-custom fade" id="showCertModal" tabindex="-1" role="dialog" aria-labelledby="Show Certificate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{data.name}}</h4>
            </div>
            <div class="modal-body">
                <textarea name="certificate" class="form-control" cols="30" rows="15" readonly>{{data.certificate}}</textarea>
            </div>
            <div class="modal-footer">
                <a type="button" href="data:text/plain;charset=utf-8,{{data.certificate}}" download="certificate.pem" id="downloadCertBtn" class="btn btn-success">{{frases.DOWNLOAD}}</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{frases.CANCEL}}</button>
            </div>
        </div>
    </div>
</div>