<div class="modal fade" id="wizard-modal" tabindex="-1" role="dialog" aria-labelledby="Wizard Modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Wizard name here</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<ul class="nav nav-tabs" role="tablist" id="wizard-tablist">
						    <li role="presentation" class="active"><a href="#wizard-tab-extensions" aria-controls="extensions" role="tab" data-toggle="tab" data-tab="extensions">Add extensions</a></li>
						    <li role="presentation"><a href="#wizard-tab-call-groups" aria-controls="profile" role="tab" data-toggle="tab" data-tab="call-groups">Create call group</a></li>
						    <li role="presentation"><a href="#wizard-tab-trunks" aria-controls="settings" role="tab" data-toggle="tab" data-tab="trunk">Add trunk</a></li>
						</ul>

						  <!-- Tab panes -->
						<div class="tab-content" id="wizard-tabs">
						    <div role="tabpanel" class="tab-pane active" id="wizard-tab-extensions">
					    		
						    </div>
						    <div role="tabpanel" class="tab-pane" id="wizard-tab-call-groups">...</div>
						    <div role="tabpanel" class="tab-pane" id="wizard-tab-trunks">...</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div> -->
		</div>
	</div>
</div>