<div class="modal modal-custom fade" id="att-setts-modal" role="dialog" aria-labelledby="Attendant settings" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="el-extension-num">
                    {{#typeEmail}}
                    <i class="fa fa-envelope"></i>
                    {{/typeEmail}}
                    {{#typeMenu}}
                    <i class="fa fa-music"></i>
                    {{/typeMenu}}
                    {{#typeCommutator}}
                    <i class="fa fa-phone"></i>
                    {{/typeCommutator}}
                    {{^data.name}}{{objType}}{{/data.name}}{{data.name}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="tab-content clearfix">
                    <form id="att-setts-form" class="form-horizontal" autocomplete="off">
                        <!-- <div class="row"> -->
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="name" class="control-label">
                                        {{frases.NAME}}
                                    </label>
                                    <input type="text" name="name" class="form-control" value="{{data.name}}" placeholder="{{frases.ATT__OBJ_NAME}}">
                                </div>
                                {{#typeEmail}}
                                <div class="form-group">
                                    <label for="data" class="control-label">
                                        {{frases.ATTENDANT.EMAIL_TO}}
                                    </label>
                                    <br>
                                    <div id="att-setts-data"></div>
                                    <!-- <select name="data" class="form-control select2" style="width:100%">
                                        {{#connectors}}
                                        <option value="{{ext}}">
                                            {{ext}}{{#name}} - {{name}}{{/name}}
                                        </option>
                                        {{/connectors}}
                                        {{^connectors}}
                                        <option>{{frases.ATTENDANT.ATT__NO_CONN_CREATED}}</option>
                                        {{/connectors}}
                                    </select> -->
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="control-label">
                                        {{frases.ATTENDANT.EMAIL_SUBJECT}}
                                    </label>
                                    <input type="text" name="subject" class="form-control" value="{{data.subject}}" placeholder="{{frases.ATTENDANT.EMAIL_SUBJECT}}">
                                </div>
                                <div class="form-group">
                                    <label for="body" class="control-label">
                                        {{frases.ATTENDANT.EMAIL_BODY}}
                                    </label>
                                    <textarea type="text" name="body" class="form-control" placeholder="{{frases.ATTENDANT.EMAIL_BODY}}">{{data.body}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="audio" class="control-label">
                                        {{frases.ATTENDANT.AUDIO_FILE}}
                                    </label>
                                    <br>
                                    <input type="file" accept=".wav" name="audio" id="audioFile" class="upload-custom">
                                </div>
                                {{/typeEmail}}
                                {{#typeMenu}}
                                <div class="form-group">
                                    <label for="data" class="control-label">
                                        {{frases.ATTENDANT.AUDIO_FILE}}
                                    </label>
                                    <br>
                                    <input type="file" accept=".wav" name="data" id="audioFile" class="upload-custom">
                                </div>
                                {{/typeMenu}}
                                {{#typeCommutator}}
                                <div class="form-group">
                                    <label for="data" class="control-label">
                                        {{frases.NUMBER}}
                                    </label>
                                    <div id="att-setts-data"></div>
                                    <!-- <select name="data" class="form-control select2" style="width:100%">
                                        {{#connectors}}
                                        <option value="{{ext}}">
                                            {{ext}}{{#name}} - {{name}}{{/name}}
                                        </option>
                                        {{/connectors}}
                                        {{^connectors}}
                                        <option>{{frases.ATTENDANT.NO_CONN_CREATED}}</option>
                                        {{/connectors}}
                                    </select> -->
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="control-label">
                                        {{frases.ATTENDANT.CALL_SUBJECT}}
                                    </label>
                                    <input type="text" name="subject" class="form-control" value="{{data.subject}}" placeholder="{{frases.ATTENDANT.CALL_SUBJECT}}">
                                </div>
                                <div class="form-group">
                                    <label for="audio" class="control-label">
                                        {{frases.ATTENDANT.AUDIO_FILE}}
                                    </label>
                                    <br>
                                    <input type="file" accept=".wav" name="audio" id="audioFile" class="upload-custom">
                                </div>
                                {{/typeCommutator}}
                                {{#pid}}
                                <div class="form-group">
                                    <label for="button" class="control-label">
                                        {{frases.ATTENDANT.BUTTON}}
                                    </label>
                                    <select name="button" class="form-control">
                                        {{#buttons}}
                                        <option value="{{button}}" {{#disabled}}disabled{{/disabled}}>
                                            {{button}}
                                        </option>
                                        {{/buttons}}
                                    </select>
                                </div>
                                {{/pid}}
                                {{#typeMenu}}
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="digits" {{#allowMultipleDigits}}checked{{/allowMultipleDigits}}> 
                                        {{frases.ATTENDANT.ALLOW_MULT_DIGITS}}
                                    </label>
                                </div>
                                {{/typeMenu}}
                            </div>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="set-att-object" class="btn btn-primary">{{frases.SAVE}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{frases.CANCEL}}</button>
            </div>
        </div>
    </div>
</div>