<div id="el-loaded-content">
    <div class="row">
        <div class="col-sm-12 col-custom">
            <div class="panel object-name-cont">
                <div class="panel-body">
                    <div class="input-group object-name">
                        <input type="text" id="objname" class="form-control" placeholder="{{GROUPSNAME}}" autofocus>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" id="el-set-object" class="btn btn-success"><i class="fa fa-check fa-fw"></i> {{SAVE}}</button>
                    <button type="button" id="el-delete-object" class="btn btn-link btn-danger pull-right"><i class="fa fa-trash fa-fw"></i> {{DELETE}}</button>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-4" id="object-route-cont"></div> -->
    </div>
    <div class="row pl-kind pl-equipment">
        <div class="col-sm-12 col-custom">
            <div class="panel" id="equipment-group-setts">
                <div class="panel-header"> {{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                {{PROTOCOL}}
                            </label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select id="group-protocol" class="form-control"></select>
                                    <span class="input-group-btn">
                                        <button type="button" id="get-proto-opts" class="btn btn-default btn-md">{{OPTIONS}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                {{DEVTYPE}}
                            </label>
                            <div class="col-sm-6">
                                <select id="devtype" class="form-control">
                                    <option value="ipphones">IP {{TELEPHONE}}</option>
                                    <option value="gateway">VoIP {{GATEWAY}}</option>
                                    <option value="trunk">VoIP {{TRUNK}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="tab-ipphones"></div>
                            <div id="tab-gateway">
                                <div class="form-group">    
                                    <label for="regname" class="col-sm-4 control-label">{{LOGIN}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="gateway" id="regname" placeholder="{{LOGIN}}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="regpass" class="col-sm-4 control-label">{{PASSWORD}}</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="password" name="gateway" class="form-control" id="regpass" placeholder="{{PASSWORD}}">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" onclick="revealPassword(this)">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="generatePassword(this)">
                                                    <i class="fa fa-refresh" data-toggle="tooltip" title="{{frases.GENERATE_PWD}}"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-trunk">
                                <div class="form-group">
                                    <label for="tr-domain" class="col-sm-4 control-label">{{DOMAIN}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="tr-domain" placeholder="{{DOMAIN}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                      <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="tr-register"> {{REGISTRATION}}
                                        </label>
                                      </div>
                                    </div>
                                </div>
                                <div id="reg-setts" class="hidden">
                                    <div class="form-group">    
                                        <label class="col-sm-4 control-label">
                                            {{NAME}}
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="tr-user" placeholder="{{NAME}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            {{AUTHNAME}}
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="tr-auth" placeholder="{{AUTHNAME}}">
                                        </div>
                                    </div>
                                    <div class="form-group">    
                                        <label class="col-sm-4 control-label">
                                            {{PASSWORD}}
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="tr-pass" placeholder="{{PASSWORD}}">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" onclick="revealPassword(this)">
                                                        <i class="fa fa-eye" data-toggle="tooltip" title="{{REVEAL_PWD}}"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            {{REGEXPIRES}}
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" id="tr-regexpires" placeholder="{REGEXPIRES}" value='60'>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" id="tr-proxy"> {{PROXY}}
                                        </label>
                                      </div>
                                    </div>
                                </div>
                                <div id="proxy-setts" class="hidden">
                                    <div id="proxy-setts">
                                        <div class="form-group">    
                                            <label class="col-sm-4 control-label">
                                                {{PROXYADDRESS}}
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="tr-paddr" id="tr-paddr" placeholder="{{PROXYADDRESS}}">
                                            </div>
                                        </div>
                                        <div class="form-group">    
                                            <label class="col-sm-4 control-label">
                                                {{AUTHNAME}}
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="tr-pauth" id="tr-pauth" placeholder="{{AUTHNAME}}">
                                            </div>
                                        </div>
                                        <div class="form-group">    
                                            <label class="col-sm-4 control-label">
                                                {{PASSWORD}}
                                            </label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="password" name="tr-ppass" class="form-control" id="tr-ppass" placeholder="{{PASSWORD}}">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" onclick="revealPassword(this)">
                                                            <i class="fa fa-eye" data-toggle="tooltip" title="{{REVEAL_PWD}}"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                {{LINESNUM}}
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="phonelines" value="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="starflash" checked> {{USEASTERISK}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-kind pl-users pl-equipment">
        <div class="col-sm-12 col-custom">
            <div class="panel">
                <div class="panel-header"> 
                    <span class="pl-kind pl-users">{{KINDS.users}}</span>
                    <span class="pl-kind pl-equipment">{{EXTENSIONS}}</span>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="services-cont" class="col-xs-12 text-center" style="margin-bottom: 5px;">
                            <button type="button" id="add-newuser-btn" class="btn btn-link padding-lg" data-toggle="collapse" data-target="#new-user-form" aria-expanded="false" aria-controls="new-user-form">
                                <i class="fa fa-user-plus"></i>
                                <span class="pl-kind pl-users">{{CREATE_USERS}}</span>
                                <span class="pl-kind pl-equipment">{{CREATE_EXTENSIONS}}</span>
                            </button>
                            <button type="button" class="btn btn-primary padding-lg pl-users" id="from-directory-btn">
                                <span>{{IMPORT_USERS_FROM}} </span><strong>Active Directory</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="padding: 20px 0;">
                        <form class="form-horizontal collapse col-xs-12" name="new-user-form" id="new-user-form" autocomplete="off">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    {{NAME}}
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="user-name" placeholder="{{NAME}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    {{EXTENSION}}
                                </label>
                                <div class="col-sm-4">
                                    <select id="available-users" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-users" id="user-email-cont">
                                <label class="col-sm-4 control-label">
                                    {{EMAIL}}
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="user-email" placeholder="{{EXT_SETTS__EMAIL}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    {{LOGIN}}
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                     id="user-login" placeholder="{{EXT_SETTS__LOGIN}}" required readonly autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    {{PASSWORD}}
                                </label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="password" name="trunk" class="form-control" id="user-pass" placeholder="{{PASSWORD}}" required autocomplete="off">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" onclick="revealPassword(this)">
                                                <i class="fa fa-eye" data-toggle="tooltip" title="{{REVEAL_PWD}}"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="generatePassword(this)">
                                                <i class="fa fa-refresh" data-toggle="tooltip" title="{{GENERATE_PWD}}"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="pl-kind pl-users">
                                <div class="form-group" id="storelimit-cont">
                                    <label class="col-sm-4 control-label">
                                        {{STORAGE.MAXSIZE}}
                                    </label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="storelimit" id="storelimit" min="0" step="1" value="1.00">
                                            <span class="input-group-addon">GB</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-xs-8">
                                    <button type="submit" class="btn btn-success btn-md" id="add-user">
                                        <span>{{CREATE}}</span>
                                    </button>
                                </div>
                            </div>
                            <br><br>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover sortable" id="group-extensions">
                            <thead>
                                <tr>
                                    <th>{{NUMBER}}</th>
                                    <th>{{NAME}}</th>
                                    <th>{{DISPLAY}}</th>
                                    <th>{{REGISTRATION}}</th>
                                    <th>{{STATE}}</th>
                                    <th style="width:5px" class="unsortable"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-kind pl-users pl-equipment pl-unit" id="profile">
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel minimized" id="ext-features-panel">
                <div class="panel-header">{{EXT_FEATURES}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="col-sm-12 pl-kind pl-users">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="recording"> {{FUNCTIONS.ALLOW_RECORDING}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="busyover"> {{FUNCTIONS.BUSYOVER}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="callpickup"> {{FUNCTIONS.PICKUP}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="monitor"> {{FUNCTIONS.CALLMONITOR}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 pl-kind pl-equipment pl-unit">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="dnd"> {{FUNCTIONS.DND}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 pl-kind pl-equipment pl-unit">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="callwaiting"> {{FUNCTIONS.CALLWAITING}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="dndover"> {{FUNCTIONS.DNDOVER}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="busyoverdeny"> {{FUNCTIONS.BUSYOVERDENY}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="pickupdeny"> {{FUNCTIONS.PICKUPDENY}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="monitordeny"> {{FUNCTIONS.MONITORDENY}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel minimized">
                <div class="panel-header"> {{SETTINGS.OUTCALLS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="outcallbarring"> {{SETTINGS.OUTBARGING}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="costroutebarring"> {{SETTINGS.COSTBARGING}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-responsive" id="transforms">
                            <thead>
                                <tr><th colspan="4">{{SETTINGS.CALLEDTRANSF}}</th></tr>
                                <tr>
                                    <th>{{NUMBER}}</th>
                                    <th><i class="fa fa-cut fa-rotate-90"></i></th>
                                    <th>{{PREFIX}}</th>
                                    <th>
                                        <a href="#" class="add-clr transrow">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-conference pl-selector pl-channel">
            <div class="panel">
                <div class="panel-header">{{INITCONN}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="form-group pl-kind pl-channel">
                            <label class="col-lg-4 control-label">
                                {{CHANNEL_TYPE}}
                            </label>
                            <div class="col-lg-8">
                                <div class="btn-group" data-toggle="buttons" id="channel-type-sel">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="objectType" autocomplete="off" value="local" checked /> {{LOCAL}}
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="objectType" autocomplete="off" value="global" /> {{GLOBAL}}
                                    </label>
                                </div>
                            </div>
                            <hr class="col-xs-12">
                        </div>
                        <div class="form-group pl-kind pl-selector">
                            <label class="col-lg-4 control-label">
                                {{INITIATOR}}
                            </label>
                            <div class="col-lg-4">
                                <select id="owner" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group pl-kind pl-channel object-type global">
                            <label for="out-number" class="col-lg-4 control-label">{{OUTNUM}}</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="out-number">
                            </div>
                        </div>
                        <div class="pl-kind pl-conference pl-selector">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">
                                    {{CALLTOUT}}
                                </label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" id="dialuptt">
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-selector">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="initcalls"> {{INITCONFCALL}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="autoredial"> {{AUTOREDIAL}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="confrecord"> {{FUNCTIONS.RECORDING}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pl-kind pl-channel hidden" id="rectime-cont">
                            <label class="col-lg-4 control-label">
                                {{REC_TIME}}
                            </label>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="rectime">
                                    <span class="input-group-addon">{{MINUTES}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="object-type local">
                            <div class="pl-kind pl-channel">
                                <div class="form-group">
                                    <div class="col-lg-offset-4 col-lg-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="playmusiconback"> {{PLAY_BACK_MUSIC}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="backmusic" class="col-lg-4 control-label">{{CONFINIT.GREETFILE}}:</label>
                                    <div class="col-lg-8">
                                        <input type="file" id="musiconback" class="upload-custom">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="playgreet"> {{PLAYGREET}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">
                                    {{GREETNAME}}:
                                </label>
                                <div class="col-lg-8">
                                    <input type="file" id="greeting2" class="upload-custom">
                                </div>
                            </div>
                        </div>
                        <div class="form-group object-type local">
                            <label class="col-lg-4 control-label">
                                {{VIDEOFORMAT}}
                            </label>
                            <div class="col-lg-4">
                                <select id="videoform" class="form-control"></select>
                            </div>
                        </div>
                        <div class="object-type global">
                            <div class="form-group pl-kind pl-channel">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="video"> {{VIDEO}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-channel pl-selector">
                                <label class="col-lg-4 control-label">
                                    {{CONFINIT.CONFINIT}}
                                </label>
                                <div class="col-lg-8">
                                    <select id="initmode" class="form-control">
                                        <option value="0">{{CONFINIT.LISTENONLY}}</option>
                                        <option value="1">{{CONFINIT.TALKANDLISTEN}}</option>
                                        <option value="3">{{CONFINIT.MULTINODE}}</option>
                                        <option class="pl-kind pl-selector" value="2">{{CONFINIT.PLAYGREET}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-selector" id="conf-greetfile">
                                <label class="col-lg-4 control-label">
                                    {{CONFINIT.GREETFILE}}:
                                </label>
                                <div class="col-lg-8">
                                    <input type="file" id="onhold2" class="upload-custom">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            