<div id="el-loaded-content">
    <div class="row">
        <div class="col-xs-12 col-custom">
            <div class="input-group object-name">
                <input type="text" id="objname" class="form-control" placeholder="{{GROUPSNAME}}" autofocus>
                <span class="input-group-addon">
                    <div class="switch switch-lg pl-kind pl-all pl-no-users pl-no-equipment">
                        <input id="enabled" class="cmn-toggle cmn-toggle-round" type="checkbox">
                        <label for="enabled"></label>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row pl-kind pl-users">
        <div class="col-sm-12 col-custom">
            <div class="panel">
                <div class="panel-header"> {{KINDS.users}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="panel minimized">
                        <div class="panel-header custom-header-2">
                            <i class="fa fa-plus"></i> {{ADDUSER}}
                        </div>
                        <div class="panel-body">
                            <!-- <div class="row"> -->
                                <form class="form-horizontal" id="new-user-form">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">{{USERTYPE}}</label>
                                            <div class="col-sm-10">
                                                <label class="radio-inline">
                                                    <input type="radio" name="userType" value="local"> {{LOCAL}}
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="userType"value="global"> {{GLOBAL}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="user-ext" class="col-sm-4 control-label">{{NUMBER}}</label>
                                                <div class="col-sm-4">
                                                    <select id="available-users" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user-name" class="col-sm-4 control-label">{{NAME}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="user-name" placeholder="{{NAME}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group object-type local">
                                                <label for="user-pass" class="col-sm-4 control-label">{{PASSWORD}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="user-pass" placeholder="{{PASSWORD}}">
                                                </div>
                                            </div>
                                            <div class="form-group object-type global">
                                                <label for="user-num" class="col-sm-4 control-label">{{TELEPHONE}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="user-num" placeholder="{{TELEPHONE}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user-dname" class="col-sm-4 control-label">{{ALIAS}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="user-alias" placeholder="{{ALIAS}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <button type="button" class="btn btn-success btn-md" id="add-user">{{ADD}}</button>
                                                <button type="button" class="btn btn-default btn-md" id="clear-input">{{CLEAR}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover" id="group-extensions">
                                    <thead>
                                        <tr>
                                            <th>{{NUMBER}}</th>
                                            <th>{{NAME}}</th>
                                            <th>{{ALIAS}}</th>
                                            <th>{{TELEPHONE}}</th>
                                            <th style="width:5px"></th>
                                            <!-- <th style="width:5px"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-all pl-no-users">
            <div class="panel">
                <div class="panel-header">{{EXTALLOCATION}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="selectable-cont">
                        <div class="selectable-box selectable-ext">
                            <p class="panel-header">{{AVAILABLE}}
                                <input type="text" class="form-control custom-input el-search" placeholder="{{SEARCH}}" data-element="available">
                            </p>
                            <ul id="available"></ul>
                        </div>
                        <div>
                            <p><button type="button" class="btn btn-default btn-sm assign-all">>></button></p>
                            <p><button type="button" class="btn btn-default btn-sm unassign-all"><<</button></p>
                            <!-- <span class="glyphicon glyphicon-transfer"></span> -->
                        </div>
                        <div class="selectable-box selectable-ext">
                            <p class="panel-header">{{SELECTED}}
                                <input type="text" class="form-control custom-input el-search" placeholder="{{SEARCH}}" data-element="members">
                            </p>
                            <ul id="members" class="el-sortable"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-equipment">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="devtype" class="col-sm-4 control-label">{{DEVTYPE}}</label>
                            <div class="col-sm-8">
                                <select id="devtype" class="form-control">
                                    <option value="ipphones">IP {{TELEPHONE}}</option>
                                    <option value="gateway">VoIP {{GATEWAY}}</option>
                                    <option value="trunk">VoIP {{TRUNK}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="tab-ipphones"></div>
                            <div id="tab-gateway">
                                <div class="form-group">    
                                    <label for="regname" class="col-sm-4 control-label">{{LOGIN}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="gateway" id="regname" placeholder="{{LOGIN}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="regpass" class="col-sm-4 control-label">{{PASSWORD}}</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="gateway" id="regpass" placeholder="{{PASSWORD}}">
                                    </div>
                                </div>
                            </div>
                            <div id="tab-trunk">
                                <div class="form-group">
                                    <label for="address" class="col-sm-4 control-label">{{DOMAIN}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="trunk" id="address" placeholder="{{DOMAIN}}">
                                    </div>
                                </div>
                                <div class="form-group">    
                                    <label for="username" class="col-sm-4 control-label">{{LOGIN}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="trunk" id="username" placeholder="{{LOGIN}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-4 control-label">{{PASSWORD}}</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="trunk" id="password" placeholder="{{PASSWORD}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="phonelines" class="col-sm-4 control-label">{{LINESNUM}}</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="phonelines" value="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="starflash" checked> {{USEASTERISK}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-unit">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">    
                            <label for="groupno1" class="col-sm-4 control-label">{{KINDS.pickup}}</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="groupno1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timeout1" class="col-sm-4 control-label">{{CALLTOUT}}</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="timeout1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="huntmode1" class="col-sm-4 control-label">{{HUNTINGTYPE.HUNTINGTYPE}}</label>
                            <div class="col-sm-4">
                                <select id="huntmode1" class="form-control">
                                    <option value="0">{{HUNTINGTYPE.OFF}}</option>
                                    <option value="1">{{HUNTINGTYPE.CIRCULAR}}</option>
                                    <option value="2">{{HUNTINGTYPE.TERMINATED}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="huntfwd1"> {{FORWFROMHUNT}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-hunting">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="timeout2" class="col-sm-4 control-label">{{CALLTOUT}}</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="timeout2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="huntmode2" class="col-sm-4 control-label">{{HUNTINGTYPE.HUNTINGTYPE}}</label>
                            <div class="col-sm-3">
                                <select id="huntmode2" class="form-control">
                                    <option value="0">{{HUNTINGTYPE.SERIAL}}</option>
                                    <option value="1">{{HUNTINGTYPE.PARALLEL}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="huntfwd2"> {{FORWFROMHUNT}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-pickup">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">    
                            <label for="groupno2" class="col-sm-4 control-label">{{GROUPNUM}}</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="groupno2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-icd">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="groupno" class="col-sm-4 control-label">{{GROUPNUM}}</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="groupno">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="maxlines" class="col-sm-4 control-label">{{SETTINGS.MAXCONN}}</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="maxlines">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="priority" class="col-sm-4 control-label">{{PRIORITY}}</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="priority">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="canpickup"> {{ALLOWFUNK}} Pickup
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="autologin"> {{AUTOREG}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-conference pl-selector pl-channel">
            <div class="panel">
                <div class="panel-header">{{INITCONN}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group pl-kind pl-channel">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="objectType" value="local"> {{LOCAL}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="objectType" value="global"> {{GLOBAL}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pl-kind pl-selector">
                            <label for="owner" class="col-sm-4 control-label">{{INITIATOR}}</label>
                            <div class="col-sm-4">
                                <select id="owner" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group pl-kind pl-channel object-type global">
                            <label for="out-number" class="col-sm-4 control-label">{{OUTNUM}}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="out-number">
                            </div>
                        </div>
                        <div class="pl-kind pl-conference pl-selector">
                            <div class="form-group">
                                <label for="dialuptt" class="col-sm-4 control-label">{{CALLTOUT}}</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="dialuptt">
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-selector">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="initcalls"> {{INITCONFCALL}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="autoredial"> {{AUTOREDIAL}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="confrecord"> {{FUNCTIONS.RECORDING}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="object-type local">
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="playgreet"> {{PLAYGREET}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="greeting2" class="col-sm-4 control-label">{{GREETNAME}}:</label>
                                <div class="col-sm-8">
                                    <input type="file" id="greeting2" class="upload-custom">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group object-type local">
                            <label for="videoform" class="col-sm-4 control-label">{{VIDEOFORMAT}}</label>
                            <div class="col-sm-4">
                                <select id="videoform" class="form-control"></select>
                            </div>
                        </div>
                        <div class="object-type global">
                            <div class="form-group pl-kind pl-channel">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="video"> {{VIDEO}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-channel pl-selector">
                                <label for="initmode" class="col-sm-4 control-label">{{CONFINIT.CONFINIT}}</label>
                                <div class="col-sm-8">
                                    <select id="initmode" class="form-control">
                                        <option value="0">{{CONFINIT.LISTENONLY}}</option>
                                        <option value="1">{{CONFINIT.TALKANDLISTEN}}</option>
                                        <option value="3">{{CONFINIT.MULTINODE}}</option>
                                        <option class="pl-kind pl-selector" value="2">{{CONFINIT.PLAYGREET}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-selector" id="conf-greetfile">
                                <label for="onhold2" class="col-sm-4 control-label">{{CONFINIT.GREETFILE}}:</label>
                                <div class="col-sm-8">
                                    <input type="file" id="onhold2" class="upload-custom">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="options">
        <div class="pl-kind pl-icd">
            <div class="col-md-6 col-xs-12 col-custom">
                <div class="panel">
                    <div class="panel-header">{{CALLROUTING}}
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="method" class="col-sm-4 control-label">{{ROUTEMETH.ROUTEMETH}}</label>
                                <div class="col-sm-4">
                                    <select id="method" class="form-control">
                                        <option value="0">{{ROUTEMETH.UNIFORM}}</option>
                                        <option value="1">{{ROUTEMETH.PRIORITY}}</option>
                                        <option value="2">{{ROUTEMETH.RANDOM}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="natimeout" class="col-sm-4 control-label">{{NOANSTOUT}}</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="natimeout">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="resumetime" class="col-sm-4 control-label">{{RESUMETIME}}</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="resumetime">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-custom">
                <div class="panel">
                    <div class="panel-header">{{QUEUESETTS}}
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="greeting" class="col-sm-4 control-label">{{MUSICONHOLD}}:</label>
                                <div class="col-sm-8">
                                    <input type="file" id="greeting" class="upload-custom">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="queuelen" class="col-sm-4 control-label">{{QUEUELEN}}</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="queuelen">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="overflowredirect" class="col-sm-4 control-label">{{OVERFLOWREDIR}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="overflowredirect">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="maxqwait" class="col-sm-4 control-label">{{MAXQWAIT}}</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="maxqwait">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="overtimeredirect" class="col-sm-4 control-label">{{OVERTIMEREDIR}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="overtimeredirect">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="indicationmode" class="col-sm-4 control-label">{{INDICMODE}}</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="indicationmode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="indicationtime" class="col-sm-4 control-label">{{INDICTIME}}</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="indicationtime">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-kind pl-users pl-equipment pl-unit" id="profile">
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel minimized">
                <div class="panel-header">{{EXTFUNCTIONS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="callwaiting"> {{FUNCTIONS.CALLWAITING}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="hold"> {{FUNCTIONS.CALLHOLD}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="forwarding"> {{FORWARDING.FORWARDING}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="callpickup"> {{FUNCTIONS.PICKUP}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="monitor"> {{FUNCTIONS.CALLMONITOR}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="dnd"> {{FUNCTIONS.DND}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="clir"> {{FUNCTIONS.CLIR}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="busyover"> {{FUNCTIONS.BUSYOVER}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="pickupdeny"> {{FUNCTIONS.PICKUPDENY}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="busyoverdeny"> {{FUNCTIONS.BUSYOVERDENY}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="monitordeny"> {{FUNCTIONS.MONITORDENY}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="dndover"> {{FUNCTIONS.DNDOVER}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel minimized">
                <div class="panel-header"> {{SETTINGS.NUMTRANSFORM}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="outcallbarring"> {{SETTINGS.OUTBARGING}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="costroutebarring"> {{SETTINGS.COSTBARGING}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-responsive" id="transforms">
                            <thead>
                                <tr>
                                    <th>{{NUMBER}}</th>
                                    <th>{{STRIP}}</th>
                                    <th>{{PREFIX}}</th>
                                    <th>
                                        <a href="#" class="add-clr transrow">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-kind pl-all">
        <div class="col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-body">
                    <button type="button" id="el-set-object" class="btn btn-success btn-lg"><i class="fa fa-check fa-fw"></i> {{SAVE}}</button>
                    <button type="button" id="el-delete-object" class="btn btn-danger btn-lg delete-obj"><i class="fa fa-trash fa-fw"></i> {{DELETE}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
            