<div id="el-loaded-content">
    <div class="row">
        <div class="col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-body">
                    <div class="input-group object-name">
                        <input type="text" id="objname" class="form-control" placeholder="{{GROUPSNAME}}" autofocus>
                        <span class="input-group-addon">
                            <div class="switch switch-lg pl-kind pl-all pl-no-users pl-no-equipment">
                                <input id="enabled" class="cmn-toggle cmn-toggle-round" type="checkbox">
                                <label for="enabled" data-toggle="tooltip" title="{{OBJECT__STATE}}"></label>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" id="el-set-object" class="btn btn-success btn-md"><i class="fa fa-checked fa-fw"></i> {{SAVE}}</button>
                    <button type="button" id="el-delete-object" class="btn btn-danger btn-md"><i class="fa fa-trash fa-fw"></i> {{DELETE}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-kind pl-equipment">
        <div class="col-sm-12 col-custom">
            <div class="panel">
                <div class="panel-header"> {{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group-protocol" class="col-lg-4 control-label" data-toggle="tooltip" title="{{GRP__PROTOCOL}}">{{PROTOCOL}}</label>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <select id="group-protocol" class="form-control"></select>
                                        <span class="input-group-btn">
                                            <button type="button" id="get-proto-opts" class="btn btn-default btn-md">{{OPTIONS}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="devtype" class="col-lg-4 control-label" data-toggle="tooltip" title="{{UNIT__EQUIP_TYPE}}">{{DEVTYPE}}</label>
                                <div class="col-lg-8">
                                    <select id="devtype" class="form-control">
                                        <option value="ipphones">IP {{TELEPHONE}}</option>
                                        <option value="gateway">VoIP {{GATEWAY}}</option>
                                        <option value="trunk">VoIP {{TRUNK}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="tab-ipphones"></div>
                                <div id="tab-gateway">
                                    <div class="form-group">    
                                        <label for="regname" class="col-lg-4 control-label">{{LOGIN}}</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" name="gateway" id="regname" placeholder="{{LOGIN}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="regpass" class="col-lg-4 control-label">{{PASSWORD}}</label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <input type="password" name="gateway" class="form-control" id="regpass" placeholder="{{PASSWORD}}">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" onclick="revealPassword(this)">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-trunk">
                                    <div class="form-group">
                                        <label for="address" class="col-lg-4 control-label">{{DOMAIN}}</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" id="address" placeholder="{{DOMAIN}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phonelines" class="col-lg-4 control-label" data-toggle="tooltip" title="{{UNIT__LINES_PER_PHONE}}">{{LINESNUM}}</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" id="phonelines" value="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" title="{{UNIT__USE_FLASH}}">
                                            <input type="checkbox" id="starflash" checked> {{USEASTERISK}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-kind pl-users pl-equipment pl-unit" id="profile">
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel minimized">
                <div class="panel-header">{{EXTFUNCTIONS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="busyover"> {{FUNCTIONS.BUSYOVER}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="callpickup"> {{FUNCTIONS.PICKUP}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="monitor"> {{FUNCTIONS.CALLMONITOR}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 pl-kind pl-equipment pl-unit">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="dnd"> {{FUNCTIONS.DND}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 pl-kind pl-equipment pl-unit">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="callwaiting"> {{FUNCTIONS.CALLWAITING}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="forwarding"> {{FORWARDING.FORWARDING}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 pl-kind pl-users">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="recording"> {{FUNCTIONS.ALLOW_RECORDING}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="busyoverdeny"> {{FUNCTIONS.BUSYOVERDENY}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="pickupdeny"> {{FUNCTIONS.PICKUPDENY}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="monitordeny"> {{FUNCTIONS.MONITORDENY}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="dndover"> {{FUNCTIONS.DNDOVER}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 pl-kind pl-users">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="hiderecind"> {{FUNCTIONS.HIDE_REC_IND}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 pl-kind pl-users">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="voicemail"> {{FUNCTIONS.VOICEMAIL}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel minimized">
                <div class="panel-header"> {{SETTINGS.OUTCALLS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div class="checkbox">
                                    <label data-toggle="tooltip" title="{{GRP_OUTBARGING}}">
                                        <input type="checkbox" id="outcallbarring"> {{SETTINGS.OUTBARGING}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkbox">
                                    <label data-toggle="tooltip" title="{{GRP_COSTBARGING}}">
                                        <input type="checkbox" id="costroutebarring"> {{SETTINGS.COSTBARGING}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-responsive" id="transforms">
                            <thead>
                                <tr><th colspan="4">{{SETTINGS.CALLEDTRANSF}}</th></tr>
                                <tr>
                                    <th>{{NUMBER}}</th>
                                    <th><i class="fa fa-cut fa-rotate-90"></i></th>
                                    <th>{{PREFIX}}</th>
                                    <th>
                                        <a href="#" class="add-clr transrow">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-kind pl-users pl-equipment">
        <div class="col-sm-12 col-custom">
            <div class="panel">
                <div class="panel-header"> {{KINDS.users}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="panel minimized">
                        <div class="panel-header custom-header-2">
                            <i class="fa fa-plus"></i> {{ADDUSER}}
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" id="new-user-form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="available-users" class="col-lg-4 control-label" data-toggle="tooltip" title="{{EXT_SETTS__EXTENSION}}">{{NUMBER}}</label>
                                            <div class="col-lg-4">
                                                <!-- <datalist id="user-ext">
                                                    <select name="user-ext" id="available-users" class="form-control"></select>
                                                </datalist>
                                                <input id="selected-user" list="user-ext" class="form-control"> -->
                                                <select id="available-users" class="form-control select2"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="user-pass" class="col-lg-4 control-label" data-toggle="tooltip" title="{{EXT_SETTS__PASSWORD}}">{{PASSWORD}}</label>
                                            <div class="col-lg-8">
                                                <div class="input-group">
                                                    <input type="password" name="trunk" class="form-control" id="user-pass" placeholder="{{PASSWORD}}">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" onclick="revealPassword(this)">
                                                            <i class="fa fa-eye" data-toggle="tooltip" title="{{REVEAL_PWD}}"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default" onclick="generatePassword(this)">
                                                            <i class="fa fa-refresh" data-toggle="tooltip" title="{{GENERATE_PWD}}"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="user-name" class="col-lg-4 control-label" data-toggle="tooltip" title="{{EXT_SETTS__NAME}}">{{NAME}}</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="user-name" placeholder="{{NAME}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="user-dname" class="col-lg-4 control-label" data-toggle="tooltip" title="{{EXT_SETTS__DISPLAY_NAME}}">{{DISPLAY}}</label>
                                            <div class="col-lg-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="user-alias" placeholder="{{DISPLAY}}">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" onclick="copyFromField(this, 'user-name')">
                                                            <i class="fa fa-exchange" data-toggle="tooltip" title="{{COPY}}"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-6">
                                        <div class="form-group pl-kind pl-users">
                                            <label for="user-followme" class="col-lg-4 control-label" data-toggle="tooltip" title="{{EXT_SETTS__FOLLOWME}}">{{TELEPHONE}}</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="user-followme" placeholder="{{TELEPHONE}}">
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-xs-offset-2 col-xs-10">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success btn-md" id="add-user">{{ADD}}</button>
                                            <button type="button" class="btn btn-default btn-md" id="clear-input" onclick="cleanForm('new-user-form')">{{CLEAR}}</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover sortable" id="group-extensions">
                            <thead>
                                <tr>
                                    <th>{{NUMBER}}</th>
                                    <th>{{NAME}}</th>
                                    <th>{{DISPLAY}}</th>
                                    <th>{{REGISTRATION}}</th>
                                    <th>{{STATE}}</th>
                                    <th style="width:5px" class="unsortable"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-all pl-no-users pl-no-equipment">
            <div class="panel">
                <div class="panel-header">{{EXTALLOCATION}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="selectable-cont">
                        <div class="selectable-box selectable-ext">
                            <p class="panel-header">{{AVAILABLE}}
                                <input type="text" class="form-control custom-input el-search" placeholder="{{SEARCH}}" data-element="available">
                            </p>
                            <ul id="available" class="available"></ul>
                        </div>
                        <div>
                            <p><button type="button" class="btn btn-default btn-sm assign-all">>></button></p>
                            <p><button type="button" class="btn btn-default btn-sm unassign-all"><<</button></p>
                            <!-- <span class="glyphicon glyphicon-transfer"></span> -->
                        </div>
                        <div class="selectable-box selectable-ext">
                            <p class="panel-header">{{SELECTED}}
                                <input type="text" class="form-control custom-input el-search" placeholder="{{SEARCH}}" data-element="members">
                            </p>
                            <ul id="members" class="el-sortable members"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-unit">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">    
                            <label for="groupno1" class="col-lg-4 control-label" data-toggle="tooltip" title="{{GRP__GRP_NUMBER}}">{{PICKUP__NUMBER}}</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="groupno1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="huntmode1" class="col-lg-4 control-label" data-toggle="tooltip" title="{{GRP__HUNT_MODE}}">{{HUNTINGTYPE.HUNTINGTYPE}}</label>
                            <div class="col-lg-4">
                                <select id="huntmode1" class="form-control">
                                    <option value="0">{{HUNTINGTYPE.OFF}}</option>
                                    <option value="1">{{HUNTINGTYPE.CIRCULAR}}</option>
                                    <option value="2">{{HUNTINGTYPE.TERMINATED}}</option>
                                </select>
                            </div>
                        </div>
                        <div id="huntmodesetts">
                            <div class="form-group">
                                <label for="timeout1" class="col-lg-4 control-label" data-toggle="tooltip" title="{{GRP__CALL_TOUT}}">{{HUNT_TOUT}}</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" id="timeout1">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" title="{{GRP__HUNT_FWD}}">
                                            <input type="checkbox" id="huntfwd1"> {{FORWFROMHUNT}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-hunting">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="huntmode2" class="col-lg-4 control-label" data-toggle="tooltip" title="{{GRP__HUNT_MODE}}">{{HUNTINGTYPE.HUNTINGTYPE}}</label>
                            <div class="col-lg-4">
                                <select id="huntmode2" class="form-control">
                                    <option value="1">{{HUNTINGTYPE.SERIAL}}</option>
                                    <option value="3">{{HUNTINGTYPE.PARALLEL}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timeout2" class="col-lg-4 control-label" data-toggle="tooltip" title="{{GRP__CALL_TOUT}}">{{HUNT_TOUT}}</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="timeout2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <div class="checkbox">
                                    <label data-toggle="tooltip" title="{{GRP__HUNT_FWD}}">
                                        <input type="checkbox" id="huntfwd2"> {{FORWFROMHUNT}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-pickup">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">    
                            <label for="groupno2" class="col-lg-4 control-label" data-toggle="tooltip" title="{{GRP__GRP_NUMBER}}">{{GROUPNUM}}</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="groupno2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-icd">
            <div class="panel">
                <div class="panel-header">{{GROUPSETTS}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="priority" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__PRIORITY}}">{{PRIORITY}}</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="priority">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="maxlines" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__CONN_NUM}}">{{SETTINGS.MAXCONN}}</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="maxlines">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="natimeout" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__NA_TOUT}}">{{NOANSTOUT}}</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="natimeout">
                                    <span class="input-group-addon">{{SECONDS}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resumetime" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__RESUME_TIME}}">{{RESUMETIME}}</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="resumetime">
                                    <span class="input-group-addon">{{SECONDS}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="method" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__METHOD}}">{{ROUTEMETH.ROUTEMETH}}</label>
                            <div class="col-lg-8">
                                <select id="method" class="form-control">
                                    <option value="0">{{ROUTEMETH.UNIFORM}}</option>
                                    <option value="1">{{ROUTEMETH.PRIORITY}}</option>
                                    <option value="2">{{ROUTEMETH.RANDOM}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="greeting" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__GREETINGS}}">{{GREETNAME}}:</label>
                            <div class="col-lg-8">
                                <input type="file" id="greeting" class="upload-custom">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <div class="checkbox">
                                    <label data-toggle="tooltip" title="{{ICD__AUTO_REG}}">
                                        <input type="checkbox" id="autologin"> {{AUTOREG}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <div class="checkbox">
                                    <label data-toggle="tooltip" title="{{ICD__ALLOW_PICKUP}}">
                                        <input type="checkbox" id="canpickup"> {{ALLOWFUNK}} Pickup
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="groupno" class="col-lg-4 control-label" data-toggle="tooltip" title="{{GRP__GRP_NUMBER}}">{{GROUPNUM}}</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="groupno">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom pl-kind pl-conference pl-selector pl-channel">
            <div class="panel">
                <div class="panel-header">{{INITCONN}}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group pl-kind pl-channel">
                            <label class="col-lg-4 control-label" data-toggle="tooltip" title="{{CHANNEL_TYPE}}">{{CHANNEL_TYPE}}</label>
                            <div class="col-lg-8">
                                <div class="btn-group" data-toggle="buttons" id="channel-type-sel">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="objectType" autocomplete="off" value="local" checked> {{LOCAL}}
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="objectType" autocomplete="off" value="global"> {{GLOBAL}}
                                    </label>
                                </div>
                            </div>
                            <hr class="col-xs-12">
                        </div>
                        <div class="form-group pl-kind pl-selector">
                            <label for="owner" class="col-lg-4 control-label" data-toggle="tooltip" title="{{CONF__INITIATOR}}">{{INITIATOR}}</label>
                            <div class="col-lg-4">
                                <select id="owner" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group pl-kind pl-channel object-type global">
                            <label for="out-number" class="col-lg-4 control-label">{{OUTNUM}}</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="out-number">
                            </div>
                        </div>
                        <div class="pl-kind pl-conference pl-selector">
                            <div class="form-group">
                                <label for="dialuptt" class="col-lg-4 control-label" data-toggle="tooltip" title="{{CONF__CALL_TOUT}}">{{CALLTOUT}}</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" id="dialuptt">
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-selector">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" title="{{CONF__DIAL_MEMBERS}}">
                                            <input type="checkbox" id="initcalls"> {{INITCONFCALL}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" title="{{CONF__AUTOREDIAL}}">
                                            <input type="checkbox" id="autoredial"> {{AUTOREDIAL}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="confrecord"> {{FUNCTIONS.RECORDING}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="object-type local">
                            <div class="pl-kind pl-channel">
                                <div class="form-group">
                                    <div class="col-lg-offset-4 col-lg-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="playmusiconback"> {{PLAY_BACK_MUSIC}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="backmusic" class="col-lg-4 control-label">{{CONFINIT.GREETFILE}}:</label>
                                    <div class="col-lg-8">
                                        <input type="file" id="musiconback" class="upload-custom">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label data-toggle="tooltip" title="{{CONF__ENABLE_GREETS}}">
                                            <input type="checkbox" id="playgreet"> {{PLAYGREET}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="greeting2" class="col-lg-4 control-label" data-toggle="tooltip" title="{{CONF__GREETS}}">{{GREETNAME}}:</label>
                                <div class="col-lg-8">
                                    <input type="file" id="greeting2" class="upload-custom">
                                </div>
                            </div>
                        </div>
                        <div class="form-group object-type local">
                            <label for="videoform" class="col-lg-4 control-label" data-toggle="tooltip" title="{{CONF__VIDEO}}">{{VIDEOFORMAT}}</label>
                            <div class="col-lg-4">
                                <select id="videoform" class="form-control"></select>
                            </div>
                        </div>
                        <div class="object-type global">
                            <div class="form-group pl-kind pl-channel">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="video"> {{VIDEO}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-channel pl-selector">
                                <label for="initmode" class="col-lg-4 control-label" data-toggle="tooltip" title="{{CONF__INIT_MODE}}">{{CONFINIT.CONFINIT}}</label>
                                <div class="col-lg-8">
                                    <select id="initmode" class="form-control">
                                        <option value="0">{{CONFINIT.LISTENONLY}}</option>
                                        <option value="1">{{CONFINIT.TALKANDLISTEN}}</option>
                                        <option value="3">{{CONFINIT.MULTINODE}}</option>
                                        <option class="pl-kind pl-selector" value="2">{{CONFINIT.PLAYGREET}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group pl-kind pl-selector" id="conf-greetfile">
                                <label for="onhold2" class="col-lg-4 control-label" data-toggle="tooltip" title="{{CONF__AUDIO_FILE}}">{{CONFINIT.GREETFILE}}:</label>
                                <div class="col-lg-8">
                                    <input type="file" id="onhold2" class="upload-custom">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="options">
        <div class="pl-kind pl-icd">
            <div class="col-xs-12 col-custom">
                <div class="panel">
                    <div class="panel-header">{{QUEUESETTS}}
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="queuelen" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__Q_LENGTH}}">{{QUEUELEN}}</label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" id="queuelen">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="overflowredirect" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__Q_OVERFLOW_FWD}}">{{OVERFLOWREDIR}}</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" id="overflowredirect">
                                        </div>
                                    </div>
                                </div>
                                <hr class="col-xs-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="maxqwait" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__Q_WAIT}}">{{MAXQWAIT}}</label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="maxqwait">
                                                <span class="input-group-addon">{{SECONDS}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="overtimeredirect" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__Q_OVERTIME_FWD}}">{{OVERTIMEREDIR}}</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" id="overtimeredirect">
                                        </div>
                                    </div>
                                </div>
                                <hr class="col-xs-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="indicationmode" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__INDICATION}}">{{INDICMODE}}</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" id="indicationmode">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="indicationtime" class="col-lg-4 control-label" data-toggle="tooltip" title="{{ICD__INDICATION_TIME}}">{{INDICTIME}}</label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="indicationtime">
                                                <span class="input-group-addon">{{SECONDS}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            