<div class="modal fade" id="el-protocol" tabindex="-1" role="dialog" aria-labelledby="Protocol options" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="el-extension-num">{{frases.PROTOCOL_SETTS}}</h4>
            </div>
            <div class="modal-body">
                <div class="tab-content clearfix">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="dtmfmode" class="col-sm-4 control-label">DTMF {{frases.MODE}}</label>
                            <div class="col-sm-4">
                                <select id="dtmfmode" class="form-control">
                                    {{#opts.dtmfmodes}}
                                        <option value="{{mode}}" {{#sel}}selected{{/sel}}>{{mode}}</option>
                                    {{/opts.dtmfmodes}}
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="t38fax" {{#opts.t38fax}} checked {{/opts.t38fax}}> T.38 Fax
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="pvideo" {{#opts.video}} checked {{/opts.video}}> Video
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="nosymnat" {{#opts.nosymnat}} checked {{/opts.nosymnat}}> Disable Symmetric NAT
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="buffering" {{#opts.buffering}} checked {{/opts.buffering}}> Buffering
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="earlymedia" {{#opts.earlymedia}} checked {{/opts.earlymedia}}> Early Media Connection
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="dtmfrelay" {{#opts.dtmfrelay}} checked {{/opts.dtmfrelay}}> DTMF Relay
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="noprogress" {{#opts.dtmfrelay}} checked {{/opts.dtmfrelay}}> Send Ringing instead of Progress
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="noredirectinfo" {{#opts.noredirectinfo}} checked {{/opts.noredirectinfo}}> Omit Rediraction Info
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="passanumber" {{#opts.passanumber}} checked {{/opts.passanumber}}> Pass Calling Party Number
                                    </label>
                                </div>
                            </div>
                            <div class="pl-kind pl-h323">
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="faststart" {{#opts.faststart}} checked {{/opts.faststart}}> Fast Start
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="h245tunneling" {{#opts.h245tunneling}} checked {{/opts.h245tunneling}}> H.245 Tunneling
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="playringback" {{#opts.playringback}} checked {{/opts.playringback}}> Play Ringback on Alerting
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <hr>
                            <table class="table">
                                <caption>{{frases.TIMEOUTS}}</caption>
                                <thead>
                                    <tr>
                                        <th>T1</th>
                                        <th>T2</th>
                                        <th>T3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control" id="t1" value="{{opts.t1}}"></td>
                                        <td><input type="text" class="form-control" id="t2" value="{{opts.t2}}"></td>
                                        <td><input type="text" class="form-control" id="t3" value="{{opts.t3}}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12">
                            <hr>
                            <table class="table" id="protocol-codecs">
                                <caption>{{frases.AUDIOCODECS}}</caption>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{frases.AUDIOCODECS}}</th>
                                        <th>{{frases.FRAMES}}(ms)</th>
                                        <th><i class="fa fa-check"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="el-set-protocol" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{frases.CANCEL}}</button>
            </div>
        </div>
    </div>
</div>