<div id="el-loaded-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group object-name">
                <input type="text" id="objname" class="form-control" placeholder="{{ROUTESNAME}}" autofocus>
                <span class="input-group-addon">
                    <div class="switch switch-lg">
                        <input id="enabled" class="cmn-toggle cmn-toggle-round" type="checkbox">
                        <label for="enabled"></label>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row" id="options">
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel minimized">
                <div class="panel-header">{{ROUTESPRIOR}}
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="selectable-cont">
                        <div class="selectable-box selectable-routes">
                            <ul id="priorities" class="el-sortable"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel minimized">
                <div class="panel-header">{{SETTINGS.OUTCALLS}}
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table" id="transforms1">
                            <thead>
                                <tr><th colspan="5">{{SETTINGS.CALLINGTRANSF}}</th></tr>
                                <tr>
                                    <th>{{NUMBER}}</th>
                                    <th>{{STRIP}}</th>
                                    <th>{{PREFIX}}</th>
                                    <th>
                                        <a href="#" class="add-clr transrow">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table" id="transforms2">
                            <thead>
                                <tr><th colspan="5">{{SETTINGS.CALLEDTRANSF}}</th></tr>
                                <tr>
                                    <th>{{NUMBER}}</th>
                                    <th>{{STRIP}}</th>
                                    <th>{{PREFIX}}</th>
                                    <th>
                                        <a href="#" class="add-clr transrow">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="routes">
        <div class="col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-header">{{ROUTESTABLE}}
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover" id="rtable">
                            <thead>
                                <tr>
                                    <th>{{NUMBER}}</th>
                                    <th>{{ROUTEDESC}}</th>
                                    <th>{{OBJECT}}</th>
                                    <th>{{PRIORITY}}</th>
                                    <th>{{COST}}</th>
                                    <th style="width:5px"></th>
                                    <th style="width:5px">
                                        <button type="button" id="add-route" class="btn btn-primary btn-sm">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </th>
                                    <!-- <th>
                                        <a href="#" class="add-clr routerow">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-body">
                    <button type="button" id="el-set-object" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-ok"></i> {{SAVE}}</button>
                    <button type="button" id="el-delete-object" class="btn btn-danger btn-lg delete-obj"><i class="glyphicon glyphicon-trash"></i> {{DELETE}}</button>
                </div>
            </div>
        </div>
    </div>
</div>