<div id="el-loaded-content">
    <div class="row">
        <div class="col-xs-12 col-custom pl-kind pl-all">
            <div id="statistics-date-picker" class="col-sm-4 col-xs-12 dropdown custom-dropdown pull-right"></div>
        </div>
    </div>
    <div class="row pl-kind pl-all" style="margin-top:20px">
        <div class="col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 style="padding-left:30px;">{{SETTINGS.OUTCALLS}}</h3>
                        </div>
                        <div style="text-align:center">
                            <div class="col-sm-3 col-xs-6">
                                <h3 class="data-model" data-model="outbounds.total">0</h3>
                                <p>{{STATISTICS.TOTALCALLS}}</p>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h3 class="data-model" data-model="outbounds.connected">0</h3>
                                <p>{{STATISTICS.CONNECTEDCALLS}}</p>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h3 class="data-model" data-model="outbounds.duration">0</h3>
                                <p>{{STATISTICS.TOTALDURATION}}</p>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h3 class="data-model" data-model="outbounds.cost">0</h3>
                                <p>{{STATISTICS.TOTALCOST}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 style="padding-left:30px;">{{SETTINGS.INCALLS}}</h3>
                        </div>
                        <div style="text-align:center">
                            <div class="col-sm-3 col-xs-6">
                                <h3 class="data-model text-primary" data-model="inbounds.total">0</h3>
                                <p>{{STATISTICS.TOTALCALLS}}</p>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h3 class="data-model text-danger" data-model="inbounds.lost">0</h3>
                                <p>{{STATISTICS.LOSTCALLS}}</p>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <h3 class="data-model" data-model="inbounds.duration">0</h3>
                                <p>{{STATISTICS.TOTALDURATION}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 style="padding-left:30px;">{{SETTINGS.INTCALLS}}</h3>
                        </div>
                        <div style="text-align:center">
                            <div class="col-sm-3 col-xs-6">
                                <h3 class="data-model" data-model="internals.total">0</h3>
                                <p>{{STATISTICS.TOTALCALLS}}</p>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h3 class="data-model" data-model="internals.duration">0</h3>
                                <p>{{STATISTICS.TOTALDURATION}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="panel minimized">
                        <div id="ext-stats-btn" class="panel-header custom-header-2">
                            <i class="fa fa-plus"></i> {{STATISTICS.EXT_STATS}}
                        </div>
                        <div class="panel-body">
                            <div class="btn-group" data-toggle="buttons" id="ext-stat-kind">
                                <label class="btn btn-default active">
                                    <input type="radio" name="options" data-kind="inbound" autocomplete="off" checked> {{SETTINGS.INCALLS}}
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" data-kind="outbound" autocomplete="off"> {{SETTINGS.OUTCALLS}}
                                </label>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table class="table table-hover" id="ext-statistics-table">
                                    <thead>
                                        <tr>
                                            <th>{{NUMBER}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{STATISTICS.TOTALCALLS}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{STATISTICS.CONNECTEDCALLS}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{STATISTICS.TOTALDURATION}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{STATISTICS.TOTALCOST}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="trunks-statistics-table">
                            <thead>
                                <tr>
                                    <th>{{TRUNK}}</th>
                                    <th>{{SETTINGS.INCALLS}}</th>
                                    <th>{{STATISTICS.TOTALDURATION}}</th>
                                    <th>{{SETTINGS.OUTCALLS}}</th>
                                    <th>{{STATISTICS.TOTALDURATION}}</th>
                                    <th>{{COST}}</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <hr>
                        <div class="pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
