<div id="el-loaded-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group object-name">
                <input type=text id="objname" class="form-control" placeholder="{{TIMERSNAME}}" autofocus>
                <span class="input-group-addon">
                    <div class="switch switch-lg">
                        <input id="enabled" class="cmn-toggle cmn-toggle-round" type="checkbox">
                        <label for="enabled"></label>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-header">{{PICKADATE}}
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        <label for="hh" class="col-xs-2">{{TIME}}</label>
                        <div class="col-md-3 col-xs-4">
                            <select id="hh" class="form-control"></select>
                        </div>
                        <div class="col-xs-1">:</div>
                        <div class="col-md-3 col-xs-4">
                            <select id="mm" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                        <div class="col-xs-3">
                            <button type="button" id="timer-everyday" class="btn btn-primary btn-sm">{{EVERYDAY}}</button>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="timer-workdays" class="btn btn-primary btn-sm">{{WEEKDAYS}}</button>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="timer-holidays" class="btn btn-primary btn-sm">{{HOLIDAYS}}</button>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="timer-calendar" class="btn btn-primary btn-sm" disabled="disabled">{{CALENDAR}}</button>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" id="d0"> {{MON}}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" id="d1"> {{TUE}}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" id="d2"> {{WED}}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" id="d3"> {{THU}}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" id="d4"> {{FRI}}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" id="d5"> {{SAT}}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" id="d6"> {{SUN}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-header"> {{OBJPICK}}
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
                <div class="panel-body">
                    <table class="table" id="targets">
                        <thead>
                            <tr>
                                <th><select id="objects" class="form-control"></select>
                                </th>
                                <th>
                                    <select id="actions" class="form-control">
                                        <option value="Enable">{{ENABLE}}</option>
                                        <option value="Disable">{{DISABLE}}</option>
                                    </select>
                                </th>
                                <th><button type="button" id="add-timer-target" class="btn btn-primary btn-md">{{ADD}}</button></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-custom">
            <div class="panel">
                <div class="panel-body">
                    <button type="button" id="el-set-object" class="btn btn-primary btn-lg">{{SAVE}}</button>
                    <button type="button" id="el-delete-object" class="btn btn-danger btn-lg delete-obj">{{DELETE}}</button>
                </div>
            </div>
        </div>
    </div>
</div>