<div class="modal modal-custom fade" id="wizzard-el" tabindex="-1" role="dialog" aria-labelledby="Wizzard" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Welcome to Smile IP PBX Wizzard</h4>
            </div>
            <ul id="wizz-tabs" class="nav nav-tabs nav-justified custom-nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#wizz-language" role="tab" data-toggle="tab">Language</a></li>
                <li role="presentation"><a href="#wizz-digits" role="tab" data-toggle="tab">Extension Digits</a></li>
                <li role="presentation"><a href="#wizz-login" role="tab" data-toggle="tab">Admin Login</a></li>
                <li role="presentation"><a href="#wizz-extensions" role="tab" data-toggle="tab">Extensions</a></li>
                <li role="presentation"><a href="#wizz-general" role="tab" data-toggle="tab">General</a></li>
                <li role="presentation"><a href="#wizz-trunk" role="tab" data-toggle="tab">Trunk</a></li>
                <li role="presentation"><a href="#wizz-route" role="tab" data-toggle="tab">Route</a></li>
            </ul>
            <div class="modal-body">
                <div id="wizz-tabs" class="tab-content clearfix">
                    <form id="wizz-languge" class="form-horizontal tab-pane active" role="tabpanel">
                        <h2>
                            Welcome to Smile IP PBX!
                        </h2>
                        <p>This Wizzard will help you setup your new Smile IP PBX.</p>
                        <p>You can cancel this Wizzard any time by clicking on Cancel button below.</p>
                        <p>To start, please select your language and click Next.</p>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="user-ext" class="col-md-4 control-label" data-toggle="tooltip" title="{{frases.EXT_SETTS__EXTENSION}}">{{frases.NUMBER}}</label>
                                <div class="col-md-4">
                                    <select id="available-users" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="wizz-digits" class="form-horizontal tab-pane" role="tabpanel">
                        <p>Choose how many digits you want your internal extension to have</p>
                    </form>
                    <form id="wizz-login" class="form-horizontal tab-pane" role="tabpanel">
                        <p>Please enter your prefered user name and password. You will require these to logon to your Smile IP PBX Management Console.</p>
                    </form>
                    <form id="wizz-extensions" class="form-horizontal tab-pane" role="tabpanel">
                        <p>Create one or more internal extensions on Smile IP PBX.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="user-ext" class="col-lg-4 control-label" data-toggle="tooltip" title="{{frases.EXT_SETTS__EXTENSION}}">{{frases.NUMBER}}</label>
                                    <div class="col-lg-4">
                                        <select id="available-users" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="user-pass" class="col-lg-4 control-label" data-toggle="tooltip" title="{{frases.EXT_SETTS__PASSWORD}}">{{frases.PASSWORD}}</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <input type="password" name="trunk" class="form-control" id="user-pass" placeholder="{{frases.PASSWORD}}">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" onclick="revealPassword(this)">
                                                    <i class="fa fa-eye" data-toggle="tooltip" title="{{frases.REVEAL_PWD}}"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="generatePassword(this)">
                                                    <i class="fa fa-refresh" data-toggle="tooltip" title="{{frases.GENERATE_PWD}}"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="user-name" class="col-lg-4 control-label" data-toggle="tooltip" title="{{frases.EXT_SETTS__NAME}}">{{frases.NAME}}</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="user-name" placeholder="{{frases.NAME}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="user-dname" class="col-lg-4 control-label" data-toggle="tooltip" title="{{frases.EXT_SETTS__DISPLAY_NAME}}">{{frases.DISPLAY}}</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="user-alias" placeholder="{{frases.DISPLAY}}">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" onclick="copyFromField(this, 'user-name')">
                                                    <i class="fa fa-exchange" data-toggle="tooltip" title="{{frases.COPY}}"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group pl-kind pl-users">
                                    <label for="user-followme" class="col-lg-4 control-label" data-toggle="tooltip" title="{{frases.EXT_SETTS__FOLLOWME}}">{{frases.TELEPHONE}}</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="user-followme" placeholder="{{frases.TELEPHONE}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-offset-2 col-xs-10">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-md" id="add-user">{{frases.ADD}}</button>
                                    <button type="button" class="btn btn-default btn-md" id="clear-input">{{frases.CLEAR}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="wizz-general" class="form-horizontal tab-pane" role="tabpanel">
                        <p>Select the internal extension which will be the default destination for inbound calls.</p>
                    </form>
                    <form id="wizz-trunk" class="form-horizontal tab-pane" role="tabpanel">
                        <p>Enter voip provider name</p>
                        <p>Enter the host name and port</p>
                        <p>Enter Authentication ID, Password and Number of your account.</p>
                    </form>
                    <form id="wizz-routes" class="form-horizontal tab-pane" role="tabpanel">
                        <p>Create a basic Outbound Call Rule to configure this Trunk account. You can later modify advanced settings.</p>
                        <p>Rule name</p>
                        <p>Calls to number starting with (Prefix)</p>
                        <p>Calls from extensions</p>
                        <p>Calls to numbers with length of</p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="el-prev" class="btn btn-primary">Back</button>
                <button type="button" id="el-next" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>