.container {
	margin-top: 70px;
	max-width: 700px;
}

.notif-cont {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	z-index: 200;
}

.notif-cont span {
	display: block;
	position: relative;
}

.notif-cont.active {
	display: block;
}

.notif-cont.error {
	color: #721c24;
	background-color: #f8d7da;
}

.notif-cont.success {
	color: #155724;
	background-color: #d4edda;
}