input.upload-custom{
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 0;
}
input[readonly].readonly-custom{
    background-color: #fff;
    cursor: text;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $primary-text-color-1;
}
.btn-primary:hover {
    background-color: $primary-color-2;
    border-color: $primary-color-2;
}

.btn-xl {
    padding: 20px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.custom-dropdown .dropdown-menu{
    max-width: 420px;
    color: #333;
}
.custom-dropdown .dropdown-menu a{
    font-size: 1em;
}
.custom-dropdown .dropdown-toggle{
    display: block;
    padding: 10px 15px;
}
.custom-dropdown a:hover,
.custom-dropdown a:focus{
    text-decoration: none;
}
.col-margin{
    margin: 7px 0;
}
.col-custom-min{
    padding: 0;
}
.has-feedback-custom{
   width: 200px;
   margin: 8px 10px 0 0; 
}
.has-feedback-custom .form-control-feedback{
    top: 0;
}
.custom.breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
}
.nav-tabs.custom-nav-tabs > li > a {
    border-radius: 0;
}
.form-control.custom-input{
    height: auto;
    padding: 0;
    text-align: center;
    font-style: italic;
    font-size: 1em;
}
.panel.custom-panel-transparent{
    background-color: transparent;
    box-shadow: none;
}
.panel.custom-panel-transparent button{
    margin-right: 10px;
}
.panel-header.custom-header-1{
    background-color: #fff;
    border-bottom: 1px solid $primary-color-l1; 
    box-shadow: none;
    text-transform: none;
    cursor: pointer;
}
.panel-header.custom-header-1 i{
    font-size: 0.8em;
}
.panel-header.custom-header-2{
    text-align: center;
    background-color: $primary-color-l1;
    color: #428bca;
    /*cursor: auto;*/
}
.panel-header.custom-header-2:hover{
    color: #2a6496;
    text-decoration: underline;
    background-color: $primary-color-l2;
}
.panel-header.custom-header-2 i{
    float: none;
    margin-bottom: 4px;
    color: #428bca;
    font-size: 1em;

    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.modal-custom .modal-content{
    border-radius: 0;
}
.modal-custom .modal-footer{
    background-color: $primary-color-l1;
}
.object-name .input-group-addon{
    border-radius: 0;
    border: none;
    background-color: #fff;
}

.rd-container{
    color: $primary-text-color-1;
    z-index: 2000;
}
.rd-day-body{
    padding: 5px;
}
.rd-day-selected{
    background-color: $primary-color;
}

.select2-container .select2-selection--single{
    border: 1px solid #ebebeb;
    border-radius: 2px;
    height: 34px;
}

.bg-connected {
    background-color: #ace496;
}

.select2-dropdown{
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.btn.noradius-padding-lg {
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn.padding-lg {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}