input.upload-custom{
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 0;
}
input[readonly].readonly-custom{
    background-color: #fff;
    cursor: text;
}

table.table>tbody>tr>td {
    vertical-align: middle;
    border-top: 1px solid #f3f8f9;
}

#security-settings-cont table button {
    padding: 6px 0;
}

#security-settings-cont table input {
    padding: 6px;
}

#welcome-modal .modal-body {
    padding: 20px 100px;
}

#services-cont button {
    margin-bottom: 5px;
}

/*
    Modal custom styles
*/

.modal-backdrop,
.tour-backdrop {
    background-color: rgba(0,0,0,.7);
}

.modal-header {
    &.standalone {
        border-bottom: none;
    }
}

.modal-custom .modal-content{
    border-radius: $global-radius;
}
.modal-custom .modal-footer{
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    background-color: $primary-color-l1;
}

.modal .modal-footer {
    text-align: left;
}

/*
    Forms custom styles
*/

// input.form-control {
//     border-radius: $global-radius;
// }

/*
    Buttons custom styles
*/

.btn {
    border-radius: $global-radius;
}

.btn.btn-action {
    color: #fff;
    background: rgb(250,163,244);
    background: linear-gradient(90deg, rgba(250,163,244,1) 0%, rgba(44,187,230,1) 100%);
    border: none;
}

.btn.btn-primary[disabled],
.btn.btn-default[disabled],
.btn.btn-success[disabled] {
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}

.init-gs-btn.btn.btn-action {
    text-align: left;
    -webkit-box-shadow: 0px 10px 27px -10px rgba(54,54,54,1);
    -moz-box-shadow: 0px 10px 27px -10px rgba(54,54,54,1);
    box-shadow: 0px 10px 27px -10px rgba(54,54,54,1);
}

.init-gs-btn.btn.btn-action i,
.init-gs-btn.btn.btn-action span {
    color: #fff;
}

/*
    Button groups custom styles
*/

.btn-group.btn-group-custom .btn {
    color: #777;
    background-color: #fff;
    border-color: #777;
}

.btn-group.btn-group-custom .btn.active,
.btn-group.btn-group-custom .btn:active,
.btn-group.btn-group-custom .btn:hover {
    color: #fff;
    background-color: #777;
    border-color: #777;
}

/*
    Popover custom styles
*/

.popover {
    padding: 0;
    min-width: 200px;
    max-width: 320px;
    border: 1px solid $primary-color;
    border-radius: 4px;
}

.popover .popover-title {
    color: #777;
    background-color: #fff;
    border-bottom: none;
    border-radius-top-left: 4px;
    border-radius-top-right: 4px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    font-size: 12px;
}

.popover-trigger {
    color: #aaa;
    
    &:hover, &:focus {
        text-decoration: none;
    }

    &.info {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:before {
            content: "\f05a";
        }
    }
}

/*
    Tourjs custom styles
*/

.popover.tour {
    font-size: 16px;
}

.popover.tour .popover-content {
    padding: 15px;
}

.tour-step-background {
    border-radius: 4px;
}

.dropdown-menu.tour {
    display: block;
}

/*
    Flatpickr custom styles
*/

.timer-dates-wrapper.no-weekdays .flatpickr-weekdays {
    display: none;
}
.timer-dates-wrapper.no-years .flatpickr-current-month .numInputWrapper {
    display: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;
}

.btn-link.btn-primary,
.btn-link.btn-danger {
    background-color: none;
    border-color: none;
}

.btn-link.btn-default {
    color: #333;
}
.btn-link.btn-success {
    color: #5cb85c;
}
.btn-link.btn-primary {
    color: #337ab7;
}
.btn-link.btn-danger {
    color: #c9302c;
}

.btn-xl {
    padding: 20px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.fb-button,
.fb-button:hover,
.fb-button:active,
.fb-button:focus {
    background-color: #4267b2;
    border-radius: 4px;
    border: none;
}

.custom-dropdown .dropdown-menu{
    max-width: 420px;
    color: #333;
}
.custom-dropdown .dropdown-menu a{
    font-size: 1em;
}
.custom-dropdown .dropdown-toggle{
    display: block;
    padding: 10px 15px;
}
.custom-dropdown a:hover,
.custom-dropdown a:focus{
    text-decoration: none;
}
.col-margin{
    margin: 7px 0;
}
// .col-custom-min{
//     padding: 0;
// }
.has-feedback-custom{
   width: 200px;
   margin: 8px 10px 0 0; 
}
.has-feedback-custom .form-control-feedback{
    top: 0;
}
.custom.breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
}
.nav-tabs.custom-nav-tabs > li > a {
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
}
.form-control.custom-input{
    height: auto;
    padding: 0;
    text-align: center;
    font-style: italic;
    font-size: 1em;
}
.panel.custom-panel-transparent{
    background-color: transparent;
    box-shadow: none;
}
.panel.custom-panel-transparent button{
    margin-right: 10px;
}
.panel-header.custom-header-1{
    background-color: #fff;
    border-bottom: 1px solid $primary-color-l1; 
    box-shadow: none;
    text-transform: none;
    cursor: pointer;
}
.panel-header.custom-header-1 i{
    font-size: 0.8em;
}
.panel-header.custom-header-2{
    text-align: center;
    background-color: $primary-color-l1;
    color: #428bca;
    /*cursor: auto;*/
}
.panel-header.custom-header-2:hover{
    color: #2a6496;
    text-decoration: underline;
    background-color: $primary-color-l2;
}
.panel-header.custom-header-2 i{
    float: none;
    margin-bottom: 4px;
    color: #428bca;
    font-size: 1em;

    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rd-container{
    color: $primary-text-color-1;
    z-index: 2000;
}
.rd-day-body{
    padding: 5px;
}
.rd-day-selected{
    background-color: $primary-color;
}

.select2-container .select2-selection--single{
    border: 1px solid #ebebeb;
    border-radius: 2px;
    height: 34px;
}

.bg-connected {
    background-color: #ace496;
}
.label.label-connected {
    background-color: #337ab7;
}

.tout-routes-cont .input-group {
    margin-bottom: 5px;
}

.tout-routes-cont .tout-route-row {
    width: 150px;
}

.tout-routes-cont .input-group-addon {
    padding: 0;
    border: none;
}

.select2-dropdown{
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.Select3 > input {
    webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.Select3 > input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.btn.noradius-padding-lg {
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn.padding-lg {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}