.pbx-menu{

    overflow: auto;
    padding: 0 15px;

    &.squeezed-menu{
        width: 90px;
        z-index: 300;
        overflow: visible;

        .nav-logo{
            width: 60px;
            border-radius: $global-radius;

            @include transition-all(300ms);
        }
        .small-logo{
            opacity: 1;
            /*margin: 0;*/
            -ms-transform:translateX(0);
            -webkit-transform:translateX(0);
            transform:translateX(0);
        }
        .big-logo{
            -ms-transform:translateX(100%);
            -webkit-transform:translateX(100%);
            transform:translateX(100%);
            opacity: 0;
        }
        li.menu-name{
            display: block;
        }

        >ul > li > a > span, 
        >ul > li > a > i:last-child{
            display: none;
        }  
        >ul > li > a i:first-child{
            font-size: 1.2em;
        }
        ul > li > a{
            padding: 15px;
            font-size: 1.1em;
        }
        ul ul {
            width: 250px;
            /*background-color: rgba(34,34,34,0.9);*/
        }
    } 
    &.squeezed-right{
        @media only screen and (max-width: $handheld) {
            -ms-transform:translateX(0);
            -webkit-transform:translateX(0);
            transform:translateX(0);
        }
    }
    .nav-list{
        position: relative;
        width: 100%;
        // margin: 0;
        padding: 0;
        margin-top: 15px;
        border-radius: $global-radius;
        // -webkit-box-shadow: 0px 10px 27px -10px rgba(54,54,54,1);
        // -moz-box-shadow: 0px 10px 27px -10px rgba(54,54,54,1);
        // box-shadow: 0px 10px 27px -10px rgba(54,54,54,1);

        > li:first-child > a {
            border-top-left-radius: $global-radius;
            border-top-right-radius: $global-radius;
        }

        > li:last-child > a {
            border-bottom-left-radius: $global-radius;
            border-bottom-right-radius: $global-radius;
        }

        > li.active:not(.nav-divider) {

            border-bottom: none;

            & + li > a {
                border-top-left-radius: $global-radius;
                border-top-right-radius: $global-radius;
            }

            > a {
                color: $primary-text-color-1;
                border-bottom-left-radius: $global-radius;
                border-bottom-right-radius: $global-radius;

                i:last-child{
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }

            > ul li.active {
                &::after {
                    content: "";
                    position: absolute;
                    right: -7.5px;
                    top: 50%;
                    margin-top: -7.5px;
                    width: 15px;
                    height: 15px;
                    background-color: #ffffff;
                    border-radius: 50%;
                }
            }

        }

        li {
            position: relative;
            display: block;
            line-height: 20px;
            width: 100%;
            border-bottom: 1px solid $primary-color-l1;

            &:last-child {
                border-bottom: none;
            }

            &.nav-divider {
                border-bottom: none;

                > a i {
                    line-height: 38px;
                }

                > ul {
                    // background-color: #eee;

                    > li > a {
                        padding: 15px 7px;
                        background-color: #fff;
                    }

                    ul li a {
                        padding: 12px 15px 12px 20px;
                    }
                }
            }

            ul {
                display: none;
                padding: 10px;
                overflow: hidden;

                li:last-child a {
                    border-bottom-left-radius: $global-radius;
                    border-bottom-right-radius: $global-radius;
                }

                li:first-child a {
                    border-top-left-radius: $global-radius;
                    border-top-right-radius: $global-radius;
                }

            }

        }
        // li:hover{
        //     background-color: #eee;
        // }
        // li:hover a,
        // li:hover a:first-of-type {
        //     color: $primary-text-color-2;
        // }

        li a:first-of-type{
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            text-decoration: none;
            color: $primary-text-color-1;
        }
        li a {
            padding: 15px;
            background-color: #fff;
        }

        ul li a {
            padding: 12px 15px 12px 20px;
        }
        ul ul li a {
            padding: 12px 15px 12px 30px;
        }
        li a i{
            text-align: center;
            @extend .context-icon;
        }
        li a i{
            color: $primary-text-color-1;
        }

        li a i:last-child{
            @extend .last-icon;
        }

        // li.active + li > a {
        //     border-top-left-radius: $global-radius;
        //     border-top-right-radius: $global-radius;
        // }
        
        li.menu-name{
            display: none;
            padding: 10px 20px;
            color: $primary-text-color-2;
            font-size: 1.2em;
        }
    }
        
}

.slide-menu{
    @include transition-all(300ms);
}
.hide-menu{
    transform:translateX(50px);
    -ms-transform:translateX(50px);
    -webkit-transform:translateX(50px);
}
