.nav-bar{ 
    position: relative;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    -moz-box-shadow:    0 2px 0 0 #ccc;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    box-shadow:         0 1px 0 rgba(0,0,0,0.05);
    -webkit-border-radius: $global-radius;
    -moz-border-radius: $global-radius;
    border-radius: $global-radius;
    border: none;
    // border-bottom: $primary-color-l1;
    

    a{
        font-size: 1.5em;
        color: $primary-text-color-1;
    }
	a i{
	    @include transition-all(500ms);
	}
	.flipped i{
	    -moz-transform: rotateY( -180deg );
	    -o-transform: rotateY( -180deg );
	    -ms-transform: rotateY( -180deg );
	    -webkit-transform: rotateY( -180deg );
	    transform: rotateY( -180deg );
	}
}

.nav-bar-nav{
    float: left;
    margin: 0;

    > .nav-active{
        background-color: #333;
        color: #eee;
    }
	> li{
	    float: left;
	}
	> li > a{
	    padding: 10px 12px;
	}
	> li > a:active,
	> li > a:hover,
	> li > a:focus {
		background-color: transparent;
	}
	> li:first-child:hover > a{
		border-top-left-radius: $global-radius;
		border-bottom-left-radius: $global-radius;
	}
	> li:last-child:hover > a{
		border-top-right-radius: $global-radius;
		border-bottom-right-radius: $global-radius;
	}

}
.nav-logo{
    position: relative;
    width: 100%;
    height: 50px;
    margin: auto;
    overflow: hidden;
    background-color: $primary-color;
    border-radius: $global-radius;
    // border-bottom: 1px solid #ececec;
    // border-right: 1px solid #eee;

	a{
	    position: absolute;
	    width: 100%;
    	padding: 7px;
	    /*float: left;*/
	    // padding: 4px 10px;
	    text-align: center;
	    opacity: 1;
	    
	    @include transition-all(300ms);
	}
	a.small-logo{
		// padding: 3px;
	    opacity: 0;
	    text-align: center;
	    // -ms-transform:translateX(-100%);
	    // -webkit-transform:translateX(-100%);
	    // transform:translateX(-100%);
	}
	img{
	    position: relative;
	    max-height: 34px;
	    margin: 0;
	}
}
