.pbx-options{
    color: $primary-text-color-1;
    overflow-x: hidden;
    border-left: 1px solid $primary-color-l2;
    transform:translateX(100%);
    -ms-transform:translateX(100%);
    -webkit-transform:translateX(100%);

    &.pushed-left{
        -ms-transform:translateX(0px);
        -webkit-transform:translateX(0px);
        transform:translateX(0px);
    }
    .options-nav{
        margin-bottom: 20px;
        background-color: $secondary-color;
    }
    .nav-bar-nav a{
        color: $primary-text-color-1;
    }
    .panel-body{
        background-color: $primary-color;
    }
    .panel-header{
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    a.el-save-options{
        font-size: 1.2em;
        line-height: 1.8em;
        color: #fff;
        background-color: #4cae4c;
    }
    a.el-save-options:hover{
        background-color: #449d44;
    }
    .tab-pane{
        > form, h4{
            padding: 0 15px;
        }
        h4{
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            margin: 20px 0;
        }
    }

    ul.tab-toggles{
        position: relative;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    ul.tab-toggles li{
        position: relative;
        display: block;
        line-height: 20px;
        width: 100%;
        margin-bottom: 10px; 
    }
    ul.tab-toggles li a{
        position: relative;
        display: block;
        width: 90%;
        margin: 0 auto;
        padding: 11.5px 20px;
        text-decoration: none;
        border: 1px solid #333;
        color: $primary-text-color-1;
    }
    
}
