.panel{
    border-radius: $global-radius;
    // border: 1px solid #eee;
    margin-bottom: 20px;
    // overflow: hidden;

    &.panel-primary {
        background-color: $primary-color;
        border-color: transparent;

        .panel-header {
            color: #fff;
        }
    }

    &.minimized{
	    .panel-body{
		    display: none;
		}
		.panel-header > i:last-child{
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
		    // transform: rotate(-90deg);
		    // -ms-transform: rotate(-90deg);
		    // -webkit-transform: rotate(-90deg);
		}
		// .panel-header > i::last-child{
		//   -moz-transform: rotate(-90deg);
		//   -o-transform: rotate(-90deg);
		//   -webkit-transform: rotate(-90deg);
		//   -ms-transform: rotate(-90deg);
		//   transform: rotate(-90deg);
		// }
    }
    
    &.panel-min{
        padding: 0;
    }
    .panel-header > i:last-child{
    	@extend .last-icon;
    }

    .all-done-icon {
        display: none;
    }

    &.all-done {
        .all-done-icon {
            display: inline-block;
        }
    }

    &.no-margin {
        margin-bottom: 0;
    }
	    
}
.panel-header{
    margin: 0;
    padding: 15px;
    // text-transform: uppercase;
    // background-color: $secondary-color;
    // border-bottom: 1px solid #eee;
    // color: $primary-text-color-2;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;

    > i:last-child{
    	@extend .context-icon;
   		color: $primary-text-color-2;
    }
}

.panel-body{
    position: relative;
    padding: 15px;
    // background-color: #fff;
    // overflow: hidden;

	@media only screen and (max-width: $handheld) {
        padding: 15px;
	}
}

.pl-img{
    text-align: right;
    vertical-align: middle;
    // line-height: 2.5em;
    margin: 0;
}
.pl-img i{
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(250,250,250);
}
.pl-txt{
    padding: 1px;
    // margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #eee;
    background-color: $primary-color;
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
}
.pl-txt h5{
    color: #fff;
}
