
$font-stack: "Trebuchet MS", Helvetica, sans-serif;
// $primary-color: #37474F;
// $primary-color: #33C3F0;
$primary-color: #54c3f0;
$primary-color-2: #0e94be;
$primary-color-l1: #f3f8f9; 
$primary-color-l2: #ececec;
$primary-text-color-1: #333;
$primary-text-color-2: #333;
$secondary-color: #fff;
$handheld: 767px;
$global-radius: 10px;
$main-gradient: linear-gradient(180deg, rgba(68,187,253,0.5) 0%, rgba(127,199,255,0.5) 10%, rgba(142,221,255,0.5) 30%, rgba(157,251,255,0.5) 55%, rgba(250,254,255,0.5) 100%);

@mixin transition-all($ms) {
	-webkit-transition: all $ms ease-in-out;
	-moz-transition: all $ms ease-in-out;
	-o-transition: all $ms ease-in-out;
	transition: all $ms ease-in-out;
}

@import 'selectable';
@import 'customs';
@import 'notifications';
@import 'player';
@import 'switch';
@import 'nav';
@import 'pagination';
@import 'page-options';
@import 'page-content';
@import 'page-sidebar';
@import 'menu';
@import 'panels';
@import 'attendant';
@import 'chattrunk';
@import 'get-started';
@import 'number-transforms';
@import 'record-qos';
@import 'object-route';
@import 'object-name';
@import 'Select3';
@import 'sidebar';
@import 'stat';
@import 'drag-and-drop';

html,body{
    overflow-x: hidden;
    font-family: $font-stack;
}

input.form-control,
select.form-control,
textarea.form-control{
    // border-radius: $global-radius;
    box-shadow: none;
    border: 1px solid #dfe4ed;
}

legend{
    font-size: 1.2em;
}

input[type="radio"] + .help-block,
input[type="checkbox"] + .help-block {
    display: none;
}
input[type="radio"]:checked + .help-block,
input[type="checkbox"]:checked + .help-block {
    display: block;
}

.context-icon{
	position: relative;
	// margin-right: 5px;
	font-size: 1.2em;
	font-weight: normal;
	/*color: #fff;*/
	// vertical-align: middle;
}
.last-icon{
    float: right;
    color: #999;
    font-size: 12px;
    // font-size: .7em;
    
    @include transition-all(300ms);
}

.hidden{
    display: none;
}
.visible{
    opacity: 1;
}
.invisible{
    opacity: 0;
}
.faded{
    opacity: .3;
}
.top-layer{
    z-index: 100;
}

.y-resizable{
    resize: vertical;
}

.no-shadow{
    box-shadow: none;
}

.text-white {
    color: #fff;
}

.calls-stat-mini{
    display: none;
}

.page-container{
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    // background-color: $primary-color-l1;
    // background-image: linear-gradient(180deg, rgba(68,187,253,0.5) 0%, rgba(127,199,255,0.5) 10%, rgba(142,221,255,0.5) 30%, rgba(157,251,255,0.5) 55%, rgba(250,254,255,0.5) 100%);
}

.add-group-object a{
    font-style: italic;
    font-size: .9em;
}

.page-footer{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    /*height: 40px;*/
    color: #aaa;
    background-color: #fff;
    font-size: 12px;
    font-weight: 100;
    -webkit-box-shadow: 0 -1px 0 0 $primary-color-l1;
    box-shadow:         0 -1px 0 0 $primary-color-l1;
}

.page-footer span{
    line-height: 40px;
}

.totop-btn{
    cursor: pointer;
    padding: 10px 15px;
    border-left: 1px solid $primary-color-l1;
}

.data-container{
    position: relative;
    padding: 0;
    
    @include transition-all(300ms);
}
.data-container .panel-body{
    overflow: visible;
}

.control-icons i{
    display: block;
}

.delete-obj{
    float: right;
}

.extended-btn{
    position: relative;
    overflow: hidden;
}

// .pl-kind,
// .pl-trunk-kind{
//     display: none;
// }
// .pl-kind.revealed,
// .pl-trunk-kind.revealed{
//     display: block;
// }


.avatar-cont{
    text-align: center;
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-top: 10px;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: $global-radius;
}
.avatar-cont img{
    height: 100%;
    width: auto;
    margin: auto;
}

.user-state-ind {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: $global-radius;
    margin: 7px;
}

/*Loading Panel Styles*/

.el-loading-panel{
    position: fixed;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(243,248,249,.7);
    z-index: 1000;
}

.loader {
    width: 32px;
    height: 32px;
    margin: auto;
    // top: 50%;
    // left: 50%;
    // margin-top: -16px;
    // margin-left: -16px;
    // position: absolute;
    // -webkit-transform-origin: 50% 47%;
    // transform-origin:50% 47%;
    // -ms-transform-origin:50% 47%; /* IE 9 */
    // animation: spinner 1s infinite linear;
    // -webkit-animation: spinner 1s infinite linear;
    // -moz-animation: spinner 1s infinite linear;
    // -o-animation: spinner 1s infinite linear;
}

/*Loading Panel Styles End*/

/*Spinner Animation*/
/*.spinner {
    -webkit-transform-origin: 50% 47%;
    transform-origin:50% 47%;
    -ms-transform-origin:50% 47%;
    animation: spinner .5s infinite linear;
    -webkit-animation: spinner .5s infinite linear;
    -moz-animation: spinner .5s infinite linear;
    -o-animation: spinner .5s infinite linear;
}*/

    @keyframes spinner {
        100% { transform: rotate(360deg); }
    }
    @-webkit-keyframes spinner {
        100% { -webkit-transform: rotate(360deg); }
    }
    @-moz-keyframes spinner {
        100% { -moz-transform: rotate(360deg); }
    }

.connected{
    background-color: rgb(154,196,154);
    /*animation: connected 2s infinite linear;
    -webkit-animation: connected 2s infinite linear;
    -moz-animation: connected 2s infinite linear;
    -o-animation: connected 2s infinite linear;*/
}

    @keyframes connected {
        0% { background-color: #dff0d8; }
        50% { background-color: rgb(154,196,154); }
        100% { background-color: #dff0d8; }
    }
    @-webkit-keyframes connected {
        0% { background-color: #dff0d8; }
        50% { background-color: rgb(154,196,154); }
        100% { background-color: #dff0d8; }
    }
    @-moz-keyframes connected {
        0% { background-color: #dff0d8; }
        50% { background-color: rgb(154,196,154); }
        100% { background-color: #dff0d8; }
    }

/*Spinner Animation End*/

.preventer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
}
.preventer p {
    padding: 15px;
    font-style: italic;
    color: #333;
}

/*Toggle switch styles*/

/*Toggle switch styles end*/

/*
Audio Player Styles
*/


/*
Helpers
*/
.center{
    text-align: center;
}
.back-msg{
    position: relative;
    margin-top: 20px;
    text-align: center;
    color: #ccc;
}
.main-gradient {
    background: $main-gradient;
}
.acc-header{
    padding: 20px 0 10px;
    color: #333;
    border-bottom: 1px solid $primary-color-l1;
    cursor: pointer;
}
.acc-header .caret{
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.acc-header.current .caret{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.nowrap{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.draggable{
    cursor: move;
}
.ghosted{
    opacity: 0;
    height: 1px;
}

.chart-label {
    padding-right: 10px;
}

.flipped i{
    -moz-transform: rotateY( -180deg );
    -o-transform: rotateY( -180deg );
    -ms-transform: rotateY( -180deg );
    -webkit-transform: rotateY( -180deg );
    transform: rotateY( -180deg );
}

@media only screen and (max-width: $handheld) {
    // .col-custom{
    //     padding-left: 5px;
    //     padding-right: 5px;
    // }
    .calls-stat{
        display: none;
    }
    .calls-stat-mini{
        display: block;
    }
}