<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-xs-12" for="position">{{frases.POSITION}}</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="position" placeholder="{{frases.POSITION}}" value="{{data.position}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-xs-12" for="location">{{frases.LOCATION}}</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="location" placeholder="{{frases.LOCATION}}" value="{{data.location}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-xs-12" for="department">{{frases.DEPARTMENT}}</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="department" placeholder="{{frases.DEPARTMENT}}" value="{{data.department}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-xs-12" for="email">{{frases.EMAIL}}</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="email" placeholder="{{frases.EMAIL}}" value="{{data.email}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-xs-12" for="mobile">{{frases.MOBILE}}</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="mobile" placeholder="{{frases.MOBILE}}" value="{{data.mobile}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-xs-12" for="birthday">{{frases.BIRTHDAY}}</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="birthday" id="userBirthday" placeholder="{{frases.BIRTHDAY}}" value="{{data.birthday}}">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-xs-12" for="about">{{frases.ABOUT}}</label>
                    <div class="col-xs-12">
                        <textarea type="text" class="form-control" name="about" placeholder="{{frases.ABOUT}}">{{data.about}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>